snippet tinker
eval(\Psy\sh());
endsnippet
snippet pbm "public function"
public function $1()
{
}
endsnippet
snippet pvm "private function"
private function $1()
{
}
endsnippet
snippet ptm "protected function"
protected function $1()
{
}
endsnippet
snippet try "try/catch"
try {
} catch (\Throwable) {
}
endsnippet
