[user]
	email = maadamaceno@gmail.com
	name = Marco Damaceno
[pull]
	ff = only
	rebase = true
[merge]
	ff = false
    conflictstyle = diff3
[gui]
	encoding = utf-8
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[diff]
    colorMoved = default
