[user]
	email = maadamaceno@gmail.com
	name = Marco Damaceno
[pull]
	ff = only
	rebase = true
[merge]
	ff = false
    conflictstyle = diff3
[gui]
	encoding = utf-8
	recentrepo = /run/media/mdamaceno/SECONDARY/Work/dialog/dialog-admin
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
[diff]
    colorMoved = default
