snippet tinker 
eval(\Psy\sh());
endsnippet

snippet dd
dd($1);
endsnippet

snippet pbm
public function $1()
{
		$0
}
endsnippet

snippet ptm
protected function $1()
{
		$0
}
endsnippet

snippet pvm
private function $1()
{
		$0
}
endsnippet
