snippet desc
describe '$1' do
end
endsnippet

snippet cont
context '$1' do
end
endsnippet

snippet dbg
debugger
endsnippet

snippet pry
require 'pry'; binding.pry
endsnippet

snippet irb
binding.irb
endsnippet

snippet init
def initialize$1
end
endsnippet

snippet class
class $1
end
endsnippet

snippet mod
module $1
end
endsnippet
